echo "# Nasa-2020" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/wilson1993-d/Nasa-2020.git
git push -u origin main
                
                
